body {
	max-width: 800px;
	margin: auto;	
}

body *:not(h1) {
	font-size: 1em;
}

img {
	width: 40em;
	display: block;
	margin: auto;
}

footer {
	margin-top: 25%;
	height: 5em;
	max-width: 800px;
	overflow: hidden;
}

footer p {
	text-align: center;
}
